/* NỀN TRANG */
.login-page {
    min-height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */
.login-card {
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 18px 40px rgba(0,0,0,.25);
}

/* HEADER */
.login-header {
    background-color: #1A3D64;
    border-radius: 16px 16px 0 0;
    padding: 24px 14px;
}

/* bọc toàn bộ nội dung */
.login-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-top {
    display: flex;
    align-items: center;
    gap: 10px;              /* khoảng cách chữ - logo */
    margin-bottom: 10px;
}
.login-title {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
}  

/* TIÊU ĐỀ */
.login-title h3 {
    color: #fff;
    margin-bottom: 6px;
    font-weight: 600;
}


/* INPUT */
.form-control {
    border-radius: 10px;
    padding: 10px 14px;
}

.form-control:focus {
    border-color: #1A3D64;
    box-shadow: 0 0 0 .2rem rgba(26,61,100,.25);
}

/* BUTTON */
.btn-login {
    background-color: #1A3D64;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
    font-weight: 600;
}

.btn-login:hover {
    background-color: #6aa7ee;
}
